*, *:before, *:after {
  box-sizing: border-box;

}

html {
  display: block;
  font-size: 10px;
  margin-top: 5rem;
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 90%;
}

.hr {
  border-bottom: 5px solid #DD7F6B;
  width: 100%;
  margin-bottom: 30px;
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  max-width: 100%;
}

.needs-border {
  border: 3px solid;
  border-color: #666666;
}

}

hr {
  border-bottom: 5px solid #DD7F6B;
  width: 100%;
}

section {
}

/*** typography ***/
h1 {
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 3.3rem;
  text-transform: uppercase;
}

h2 {
  color: #DD7F6B;
  font-family: "Petrona";
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%
}

h3 {
  font-family: "Petrona";
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 1%;
  margin-bottom: 7%;
}

h4 {
  /*border-bottom: 6px solid #DD7F6B;*/
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: #DD7F6B;
  text-decoration-style: solid;
  margin-bottom: 3%;
  margin-top: 5%;
}

h5 {
  color: #DD7F6B;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2%;
  text-transform: uppercase;
}

h6 {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: uppercase;
}

p {
  font-family: "Petrona";
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 5%;
}

/*** logo ***/
.logo {
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 80%;
  margin-bottom: 5%;
  width: 20%;
}

/*** links ***/
.trippin-button {
  color: white;
  background: url(../images/trippin.png) center/cover;
  border: 0;
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  padding: 7rem 1rem 7rem 1rem;
  margin-bottom: 3%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.busybus-button {
  color: white;
  background: url(../images/busybus.png) center/cover;
  border: 0;
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  padding: 7rem 1rem 7rem 1rem;
  margin-bottom: 3%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.wastenauts-button {
  color: white;
  background: url(../images/wastenauts.png) center/cover;
  border: 0;
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  padding: 7rem 1rem 7rem 1rem;
  margin-bottom: 3%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.view-more-button {
  color: white;
  background: url(../images/viewmore.png) center/cover;
  border: 0;
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 2rem;
  padding: 7rem 1rem 7rem 1rem;
  margin-bottom: 3%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.project-description {
  color: white;
  font-family: "Petrona";
  font-size: 1.6rem;
  margin-top: 3%;
  text-transform: lowercase;
}

.peach-button {
  display: block;
  background-color: #DD7F6B;
  border-radius: 5px;
  border: 5px solid;
  border-color: #DD7F6B;
  color: white;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 450;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 0rem 1.2rem 0rem;;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

.white-button {
  display: block;
  background-color: white;
  border: 5px solid;
  border-color: white;
  border-radius: 5px;
  color: #DD7F6B;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 450;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem 0rem 1.2rem 0rem;
  text-transform: uppercase;
  width: 60%;
}

/*** hover effects ***/
.trippin-button:hover {
  background-color: #666666;
  opacity: 0.7;
}

.busybus-button:hover {
  opacity: 0.7;
}

.wastenauts-button:hover {
  opacity: 0.7;
}

.view-more-button:hover {
  opacity: 0.7;
}

.white-button:hover {
  background: #AB6252;
  color: white;
  font-weight: bolder;
  transition-duration: 0.3s;
}

.peach-button:hover {
  background: white;
  color: #DD7F6B;
  font-weight: bolder;
  transition-duration: 0.3s;
}

/* sidenav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: -20px;
	  background-color: #AB6252;
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 25px;
    transition: 0.5s;
}

.sidenav a {
    color: black;
    font-size: 1.8rem;
    font-family: "Montserrat";
	  font-weight: 400;
    display: block;
    line-height: 2.4;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav a:hover, .offcanvas a:focus {
    color: white;
    font-weight: 500;
}

.links a:hover {
	text-decoration: underline;
}

.links p {
	font-weight: 700;
	line-height: 0;
}

.sidenav .closebtn {
    font-family: "Montserrat";
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 42px;
}

.nav {
  font-size: 42px;
	position: fixed;
	right: 30px;
	top: 90px;
	border: none;
	background: none;
}

button:focus {
	outline:0;
}

.topnav a {
    right: 0;
    padding: 25px 30px;
    position: fixed;
}

/*** footer ***/
footer {
  color: white;
  display: block;
  background-image: url(../images/footerimage.png);
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  display: inline-block;
  font-family: "Brandon Grotesque";
  font-size: 2.2rem;
  padding: 7rem 5rem 0rem 5rem;
  margin-top: 4%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul li{
  display: inline;
}

li {
  margin: 3%;
}

.copyright {
  color: #F7CBC1;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 50px;
}

/*** case study ***/
.My-role {
  font-family: "Montserrat";
  font-size: 1.4rem;
}

.Tools {
  font-family: "Montserrat";
  font-size: 1.4rem;
  margin-bottom: 3%;
}

.Project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*** home page ***/
.about-me {
  display: inline-block;
}

.all-projets {

}

/*** bio ***/
.bio {
  margin-top: 30px;
}

/*** media queries ***/
@media screen and (min-width: 769px){
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1025px){
  html {
    font-size: 17px;
  }
  .container {
    width: 75%;
    margin: 0 auto;
  }
  .sidenav {
      height:300px;
  }
  .sidenav a {
      color: black;
      font-family: "Montserrat";
      font-size: 1rem;
  	  font-weight: 400;
      display: block;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      transition: 0.3s;
      white-space: nowrap;
  }
  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .peach-button {
    font-size: 1rem;
    float: left;
    padding: .8rem 0rem .8rem 0rem;;
    margin-right: 30px;
    width: 200px;
  }

  .white-button {
    width: 300px;
  }
  .project-description {
    font-size: 1rem;
  }

  .logo {
    display: inline-block;
    height: 80%;
    margin-right: 10px;
    margin-bottom: 5%;
    margin-top: 10px;
    margin-bottom: 0;
    width: 70px;
  }

  .project-button {
    float: left;
    margin: 1%;
    width: 48%;
  }
  .project-button-all {
    float: left;
    margin-right: 2.5%;
    width: 30%;
  }
  .Tools {
    float:right;
    margin: 1%;
    width: 48%;
  }
  .My-role {
    float:left;
    margin: 1%;
    width: 48%;
  }
  .two-column {
    float: left;
    margin-right: 5%;
    width: 45%;
  }
  .three-column {
    float: left;
    display: inline-block;
    margin-right: 2.5%;
    width: 30%;
  }

  .column-container {
    display: inline-block;
    width: 100%;
  }
  .bio {
    margin-right: 27%;
    margin-left: 27%;
    width: 46%;
  }
}
