*, *:before, *:after {
  box-sizing: border-box;

}

html {
  display: block;
  font-size: 10px;
  margin-top: 5rem;
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 90%;
}

body {
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  max-width: 100%;
}

hr {
  border-top: 5px solid #DD7F6B;
  border-radius: 5px;
  width: 100%;
}

section {
}

/*** typography ***/
h1 {
  font-family: "Brandon Grotesque";
  font-size: 3.3rem;
  text-transform: uppercase;
}

h2 {
  color: #DD7F6B;
  font-family: "Petrona";
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%
}

h3 {
  font-family: "Petrona";
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 1%;
  margin-bottom: 7%;
}

h4 {
  /*border-bottom: 5px solid #DD7F6B;
  border-radius: 5px;*/
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: #DD7F6B;
  text-decoration-style: solid;
  margin-bottom: 3%;
  margin-top: 5%;
}

h5 {
  color: #DD7F6B;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2%;
  text-transform: uppercase;
}

h6 {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-family: "Petrona";
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 5%;
}

/*** logo ***/
.logo {
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 80%;
  margin-bottom: 5%;
  width: 20%;
}

/*** buttons ***/
.trippin-button {
  color: white;
  background: url(../images/trippin.png) center/cover;
  border: 0;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  height: 20rem;
  margin-bottom: 3%;
  text-transform: uppercase;
  width: 100%;
}

.busybus-button {
  color: white;
  background: url(../images/busybus.png) center/cover;
  border: 0;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  height: 20rem;
  margin-bottom: 3%;
  text-transform: uppercase;
  width: 100%;
}

.wastenauts-button {
  color: white;
  background: url(../images/wastenauts.png) center/cover;
  border: 0;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  height: 20rem;
  margin-bottom: 3%;
  text-transform: uppercase;
  width: 100%;
}

.view-more-button {
  color: white;
  background: url(../images/viewmore.png) center/cover;
  border: 0;
  font-family: "Brandon Grotesque";
  font-size: 2.4rem;
  margin-bottom: 3%;
  text-transform: uppercase;
  height: 20rem;
  margin-bottom: 3%;
  width: 100%;
}

.project-description {
  color: white;
  font-family: "Petrona";
  font-size: 1.6rem;
  text-transform: lowercase;
}

.peach-button {
  background-color: #DD7F6B;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 450;
  margin-bottom: 5%;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.white-button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  color: #DD7F6B;
  font-family: "Montserrat";
  font-size: 1.4rem;
  font-weight: 450;
  margin: 3%;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.topnav {
  float: right;
  width: 20%;

}

.side-nave {
  float: right;
  width: 20%;
}

/*** footer ***/
footer {
  color: white;
  background-image: url(../images/footerimage.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: block;
  font-family: "Brandon Grotesque";
  font-size: 2.2rem;
  padding: 5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul li{
  display: inline;
}

li {
  margin: 3%;
}

.white-button {
  display: block;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
}

/*** media queries ***/
@media screen and (min-width: 769px){
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1025px){
  html {
    font-size: 17px;
  }
  .container {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    font-size: 5rem;
    max-width: 50%;
  }

  .logo {
    height: 80%;
    margin-right: 10px;
    margin-bottom: 5%;
    margin-top: 10px;
    margin-bottom: 0;
    width: 70px;
  }

  .project-button {
    float: left;
    margin-right: 2%;
    width: 48%;
  }

  .Tools {
    float:right;
    margin: 1%;
    width: 48%;
  }
  .My-role {
    float:left;
    margin: 1%;
    width: 48%;
  }
}

/*** case study ***/
.My-role {
  font-family: "Montserrat";
  font-size: 1.4rem;
}

.Tools {
  font-family: "Montserrat";
  font-size: 1.4rem;
  margin-bottom: 3%;
}

.Project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*** home page ***/
.peach-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  margin-bottom: 10%;
}
